/*----------------Css Universal-----------------*/
@font-face {
  font-family: "CollegeBord";
  src: url(../fonts/collegeregular.ttf) format(truetype);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "College";
  src: url(../fonts/college.otf) format(truetype);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Rextro";
  src: url(../fonts/rextro.otf) format(truetype);
  font-style: normal;
  font-weight: normal;
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1200px);
    transform: translateX(-1200px);
  }
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(8, 10, 121);
}

body {
  background-image: url(../media/background/labombonera.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/*----------------------Menu---------------------*/
#SoySocioTt {
  display: inline-block;
  justify-content: center;
  margin: 13px;
  font-size: 50px;
  font-family: College;
  color: #ffffff;
  text-shadow: 1px 2px 3px black;
}

.MenuPrinc {
  font-family: arial;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(4, 37, 77, 0.3294117647);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0.9;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
  transition: 0.3s;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 1px 2px 7px black;
}
.sidebar a:hover {
  color: #FFFFFF;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  background-color: transparent;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

.iconmenu {
  width: 60px;
}

/*-----------------Opciones(Index)---------------*/
.containeroptions {
  margin: 60px;
}
.containeroptions a {
  display: flex;
  justify-content: center;
}

.options-img {
  display: flex;
  width: 19em;
  margin: 0;
  justify-content: center;
}

/*--------------FormaParte(Index)----------------*/
.Formaparte {
  width: 100%;
  height: auto;
}

.asociateahora {
  display: flex;
  justify-content: center;
}

.Asociate {
  display: flex;
  justify-content: center;
  padding: 1% 3%;
  font-size: 48px;
  cursor: pointer;
  font-family: College;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #ffffff;
  background-color: #FAB800;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgba(27, 27, 27, 0.4862745098);
}
.Asociate:hover {
  background-color: #FAB800;
  color: rgba(122, 122, 122, 0.527);
}
.Asociate:active {
  background-color: #Fab800;
  box-shadow: 0 5px rgba(27, 27, 27, 0.4862745098);
  transform: translateY(4px);
}

#asociate {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 24px;
  text-align: center;
}

.iniciosesion {
  display: flex;
  justify-content: center;
  text-shadow: 1px 2px 3px black;
  margin: 10px;
}

#bottomlogin {
  text-decoration: none;
  color: #FAB800;
}

#textlogin {
  color: #FFFFFF;
  font-size: 25px;
  font-size: 15px;
}

/*--------PreguntasFrecuentes(Index)----------*/
.containerpreg {
  display: grid;
  position: relative;
  grid-template-areas: "PPrinc pregsec pregsec";
  grid-template-rows: 37em;
  margin-bottom: 116px;
}

.pregfrec_background {
  display: flex;
  width: 75%;
  width: 10%;
  background: #FAB800;
  background: rgba(250, 183, 0, 0.5803921569);
  position: absolute;
  width: 75%;
  height: 41em;
}

.pregprinc_pregunta {
  display: grid;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  grid-area: PPrinc;
}

.pregprinc_pregunta_img {
  width: 400px;
  height: auto;
  margin: 16px;
  margin-top: 23px;
  background-color: #FAB800;
}

.pregprinc_pregunta_info {
  display: block;
  position: relative;
  width: 19rem;
  height: 20rem;
  background-color: #FFFFFF;
  left: 17%;
  bottom: 75%;
}

.pregprinc_pregunta_titulo a {
  display: block;
  color: #064084;
  font-size: 25px;
  font-family: "Rextro";
  margin: 20px;
  margin-bottom: 0;
}

.pregprinc_pregunta_desc {
  display: block;
  font-size: 23px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin: 20px;
  margin-top: 0;
}

.pregsec_preguntas_grid {
  margin: 20px;
  display: grid;
  position: relative;
  grid-area: pregsec;
  grid-template-areas: " preg1 preg2" " preg1 preg2" " preg3 preg4" " preg3 preg4" "maspreg maspreg";
  align-items: center;
}

.pregsec_preguntas_primera {
  display: flex;
  grid-area: preg1;
}

.pregsec_preguntas_segunda {
  display: flex;
  grid-area: preg2;
}

.pregsec_preguntas_tercera {
  display: flex;
  grid-area: preg3;
}

.pregsec_preguntas_cuarta {
  display: flex;
  grid-area: preg4;
}

.pregsec_uno {
  display: flex;
  margin: -15px;
}

.pregsec_uno_pregunta {
  height: 30vh;
  width: 44%;
  background: #FFFFFF;
  padding: 1em;
}

.pregsec_uno_img {
  height: 30vh;
  width: 44%;
  background: url(../media/index/pregfrec/pf\ \(2\).webp);
  background-repeat: none;
  background-size: cover;
  padding: 2em;
}

.pregsec_dos_img {
  height: 30vh;
  width: 44%;
  background: url(../media/index/pregfrec/pf\ \(3\).webp);
  background-repeat: none;
  background-size: cover;
  padding: 2em;
}

.pregsec_tres_img {
  height: 30vh;
  width: 44%;
  background: url(../media/index/pregfrec/pf\ \(4\).webp);
  background-repeat: none;
  background-size: cover;
  padding: 2em;
}

.pregsec_cuatro_img {
  height: 30vh;
  width: 44%;
  background: url(../media/index/pregfrec/pf\ \(5\).webp);
  background-repeat: none;
  background-size: cover;
  padding: 2em;
}

.pregsec_titulo {
  display: block;
  color: #064084;
  font-size: 11px;
  font-family: "Rextro";
  margin: 10px;
  margin-bottom: 0;
}

.pregsec_texto {
  display: block;
  font-size: 13px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin: 10px;
  margin-top: 0;
  word-wrap: break-word;
}

.pregfrec_maspreg {
  display: block;
  justify-self: end;
  grid-area: maspreg;
  width: 12em;
  height: auto;
}

.pregfrec_maspreg_texto {
  display: flex;
  align-self: end;
  justify-content: center;
  padding: 1% 3%;
  font-size: 13px;
  cursor: pointer;
  font-family: Rextro;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #064084;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px rgba(27, 27, 27, 0.4862745098);
  margin: 10px;
}

/*-------------HaceteSocio(Page)-----------------*/
.volver {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-bottom: 40px;
}

.iniciohacetesocio {
  width: 100%;
}

.containerpas {
  margin: 3em;
  background-color: rgba(6, 65, 132, 0.7725490196);
}

.formasociate {
  font-family: College;
}

.Formregister {
  display: flex;
  justify-content: center;
}

.container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  width: 458px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6039215686);
}

input[type=text] {
  width: 100%;
  padding: 15px;
  display: inline-block;
  border: none;
  background: rgba(11, 90, 180, 0.4431372549);
}
input[type=text]:focus {
  background-color: #064084;
  outline: none;
}

input[type=password] {
  width: 100%;
  padding: 15px;
  display: inline-block;
  border: none;
  background: rgba(11, 90, 180, 0.4431372549);
}
input[type=password]:focus {
  background-color: #064084;
  outline: none;
}

hr {
  border: 1px solid #ffffff;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: rgba(250, 183, 0, 0.862745098);
  color: white;
  padding: 12px 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity: 1;
}

.signin {
  background-color: rgba(250, 183, 0, 0.862745098);
}

.hacetesocio {
  grid-area: info;
}

.info_hacetesocio_text {
  color: #FFFFFF;
  font-size: 20px;
  margin: 20px;
  margin-left: 30px;
}

.info_hacetesocio_img {
  margin: 20px;
  margin-bottom: 0px;
}

.info_hacetesocio_iframe {
  margin: 20px;
}

.pasosaseguir {
  display: flex;
  justify-content: center;
}

.pasosaseguir_uno_img {
  display: inline-block;
  vertical-align: top;
  width: 2em;
}

.pasosaseguir_uno_text {
  display: inline-block;
  width: 20em;
  height: 3em;
}
.pasosaseguir_uno_text h1 {
  font-family: College;
  color: #FFFFFF;
  font-size: 1.4em;
}
.pasosaseguir_uno_text h2 {
  color: #FFFFFF;
  font-size: 1em;
}

.pasosaseguir_uno {
  margin-top: 20px;
  display: inline-block;
}

.pasosaseguir_dos {
  margin-top: 20px;
  display: inline-block;
}

.pasosaseguir_tres {
  margin-top: 20px;
  display: inline-block;
}

.pasosaseguir_extra p {
  color: #FFFFFF;
  display: flex;
  font-size: 1em;
  margin-top: 20px;
  margin-left: 10px;
}

/*---------------------LoginPage--------------------*/
.containerlogin {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 25em;
  height: auto;
}

.login {
  text-align: center;
  margin: 0.6em;
  color: #Ffffff;
}
.login input[type=text] {
  width: 100%;
  padding: 15px;
  display: inline-block;
  border: none;
  background: rgba(255, 255, 255, 0.4431372549);
}
.login input[type=text]:focus {
  background-color: rgba(250, 183, 0, 0.7725490196);
  outline: none;
}
.login input[type=password] {
  width: 100%;
  padding: 15px;
  display: inline-block;
  border: none;
  background: rgba(255, 255, 255, 0.4431372549);
}
.login input[type=password]:focus {
  background-color: rgba(250, 183, 0, 0.7725490196);
  outline: none;
}

.login-check {
  text-align: initial;
}

.checkbox {
  margin-top: 0.5em;
}

.login-titulo h1 {
  font-family: College;
  font-size: 2.5em;
  text-align: center;
  color: #ffffff;
}

.login-titulo-img {
  display: flex;
  margin: auto;
  width: 6em;
  justify-content: center;
}

::placeholder {
  color: #FFFFFF;
}

.login-iniciarsesion {
  text-decoration: none;
  font-size: 1.5em;
  margin-top: 0.4em;
}
.login-iniciarsesion a {
  font-family: Rextro;
}

.login-ayuda h2 {
  font-size: 0.8em;
  color: #FFFFFF;
}

/*-------------------Sede(Pag)------------------*/
.containersede ul {
  list-style-image: url(../media/icons/circulolista.webp);
}

.sede-title {
  font-family: College;
  font-size: 3em;
  color: #FFFFFF;
  margin: 0;
  margin-left: 20px;
}

.sede-lista li h2 {
  margin: 0;
  font-size: 1.3em;
  color: #FFFFFF;
}
.sede-lista li h1 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 2em;
  color: #FFFFFF;
}

.sede-derecha {
  margin-bottom: 50px;
}
.sede-derecha img {
  width: 80%;
  margin-left: 4em;
}

.sede-izquierda {
  margin-bottom: 50px;
}
.sede-izquierda img {
  margin: 20px;
  width: 62%;
  height: 37%;
  transition: 0.5s;
  object-fit: cover;
}
.sede-izquierda img:hover {
  transform: scale(0.9);
}

.sede-comollegar {
  margin-top: 100px;
}
.sede-comollegar iframe {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: auto;
}
.sede-comollegar p {
  text-align: center;
  font-size: 4em;
  font-family: College;
  color: #FFFFFF;
  margin: 0;
}

/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/
/*--------------------Footer--------------------*/
.logofooter {
  display: flex;
  justify-content: center;
}
.logofooter a img {
  width: 5em;
  margin-top: 10em;
}

.sponsors {
  display: flex;
  height: auto;
  margin: 0;
  overflow: hidden;
  align-items: center;
}
.sponsors::before {
  position: absolute;
  z-index: 1;
  left: 0;
  content: "";
  width: 23.958%;
  height: 110px;
  background: linear-gradient(-90deg, hsla(0, 0%, 96.9%, 0), #f7f7f7);
}
.sponsors::after {
  position: absolute;
  right: 0;
  content: "";
  width: 23.958%;
  height: 110px;
  background: linear-gradient(90deg, hsla(0, 0%, 96.9%, 0), hsla(0, 0%, 96.9%, 0.99) 99%);
}
.sponsors .sponsors__track {
  display: flex;
  animation: scroll 35s linear infinite;
  -webkit-animation: scroll 35s linear infinite;
  width: 2400px;
}
.sponsors .sponsor {
  display: flex;
}
.sponsors .sponsor img {
  width: 180px;
  right: 80px;
  padding: 10px;
  background: #FFFFFF;
  cursor: pointer;
  margin: 20px;
  border-radius: 8px;
}

.goat__img {
  display: inline-block;
  margin-left: 1%;
  width: 2%;
}

.version__text {
  display: inline-block;
  line-height: 1, 2em;
  color: #FFFFFF;
}

.version__a--image {
  width: 4%;
  margin-left: 92%;
}

.footer-menu ul {
  display: flex;
  justify-content: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer-menu ul li {
  display: block;
  margin: 2%;
}
.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: #27bcda;
}

footer {
  background: linear-gradient(rgba(6, 65, 132, 0), #064184);
}

.footer-menu_contacto {
  font-size: 10px;
}
.footer-menu_contacto a h1 {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 0;
  font-size: 6em;
  font-family: College;
}
.footer-menu_contacto h2 {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
  font-size: 1.6em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#TermAndCond {
  color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: smaller;
  font-style: Serif;
  font-size: 13px;
}
#TermAndCond article {
  font-size: 1em;
}
#TermAndCond article a {
  font-size: 1em;
}

.logofooter__img {
  width: 40px;
  margin-top: 20PX;
}

.footer-menu_contacto_2 {
  font-size: 9px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .pregprinc_pregunta {
    width: 24rem;
  }
  .pregprinc_pregunta_info {
    left: 18%;
    bottom: 38%;
  }
  .pregprinc_pregunta_img {
    width: 353px;
  }
}

/*# sourceMappingURL=stylecabj.css.map */
