$background-color_1: #04254d54;
$background-color_2: #111;
$background-color_3: transparent;
$background-color_4: #FAB800;
$background-color_5: #Fab800;
$background-color_6: #FFFFFF;
$background-color_7: #ffffff;
$background-color_8: #064184c5;
$background-color_9: #ffffff9a;
$background-color_10: #064084;
$background-color_11: #fab700dc;
$background-color_12: #fab700c5;