$color_1: #ffffff;
$color_2: #FFFFFF;
$color_3: white;
$color_4: rgba(122, 122, 122, 0.527);
$color_5: #FAB800;
$color_6: #064084;
$color_7: rgb(8, 10, 121);
$color_8: #Ffffff;
$color_9: #cfd2d6;
$color_10: #27bcda;