$font-family_1: College;
$font-family_2: arial;
$font-family_3: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-family_4: "Rextro";
$font-family_5: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font-family_6: Rextro;
$font-family_7: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;